@model egitim.Models.admin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kul)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
