@model egitim.Models.konular

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layoutogrenci.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>konular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ders_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ders_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.konu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.konu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.youtube)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.youtube)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.video)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dokuman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dokuman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sinav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sinav)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sira)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sira)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
