@model IEnumerable<egitim.Models.sinavliste>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutogrenci.cshtml";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dersler.ders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konular.konu)
            </th>
           
           
          
           
            
           
           
           
            <th>
               Testi Gör
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dersler.ders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konular.konu)
            </td>
            
                   
            <td>
                <a asp-action="sinavgor" asp-route-id="@item.Konular.id">Sınavı Gör</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
